<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Orbis Data Perú | Empleo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Nos especializamos en soluciones tecnológicas personalizadas para empresas como la tuya. Contáctanos y descubre cómo podemos trabajar juntos para alcanzar tus objetivos">
    <meta name="keywords" content="Desarrollo, RPA, Transformacion Digital, WEB, Backend, FrontEnd, Consultoria, Tecnologia">
    <meta http-equiv="Permissions-Policy" content="interest-cohort=()">
    <title>Empleo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../sass/main.css">
    <link rel="icon" type="image/vnd.microsoft.icon" href="../assets/img/favicon.ico"/>
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-white">
        <div class="container-fluid">
          <a class="navbar-brand mx-5" href="../index.html">
            <img id="top" src="../assets/img/logo.png" alt="logo sitio">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse mx-5" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Servicios
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="./rpa.html">RPA</a></li>
                  <li><a class="dropdown-item" href="./desarrollo.html">Servicios de Desarrollo</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./empleo.html">Empleos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./contacto.html">Contacto</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <main class="container-fluid bg-main-empleos">
      <div class="row">
        <div class="col-12 col-lg-12 d-flex justify-content-center text-white">
          <h4 class="fs-1">Empleos</h4>
        </div>
      </div>
    </main>

    <section class="container-fluid">
      <article class="row">
        <div class="col-12 col-lg-2">
        </div>
        <div class="col-12 col-lg-5">
          <h2 class="bg-texto1">Únete al equipo Orbis Perú</h2>
          <h3 class="mt-5 fuente-h3-primer-cuadro">¿Quieres ser parte del Cambio?</h3>
          <p class="mt-4 fs-5 bg-texto1">Súmate a nuestro desafío de seguir creciendo. Nuestra búsqueda incluye perfiles recién egresados hasta cargos con mayor experiencia.</p>
          <p class="bg-texto1">Revisa nuestras ofertas disponibles y envíanos tus datos de contacto.</p>
        </div>
        <div class="col-12 col-lg-1">
        </div>
        <div class="col-12 col-lg-3">
          <form>
            <div class="mb-3">
              <label for="inputNombres" class="col-12 col-form-label">Nombres</label>
              <div class="col-12">
                <input type="Nombres" class="form-control" id="nombres">
              </div>
            </div>
            <div class="mb-3">
              <label for="inputApellidos" class="col-12 col-form-label">Apellidos</label>
              <div class="col-12">
                <input type="apellidos" class="form-control" id="apellidos">
              </div>
            </div>
            <div class="mb-3">
              <label for="telefonoContacto" class="col-12 col-form-label">Teléfonos de Contacto</label>
              <div class="col-12">
                <input type="telefono" class="form-control" id="telefonoContacto">
              </div>
            </div>
            <div class="mb-3">
              <label for="inputEmail" class="col-12 col-form-label">Email</label>
              <div class="col-12">
                <input type="email" class="form-control" id="inputEmail">
              </div>
            </div>
            <div>
              <label for="pais" class="col-12 col-form-label">País</label>
                <select class="form-select" id="">
                  <option selected>Elegir País...</option>
                  <option value="1">Chile</option>
                  <option value="2">Perú</option>
                  <option value="3">Argentina</option>
              </select>
            </div>
            <div class="mb-3 mt-3">
              <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="mb-3">
              <label for="formFile" class="form-label">Adjuntar CV:</label>
              <input class="form-control" type="file" id="formFile">
            </div>
            <button type="submit" class="btn btn-primary mt-5 col-12">Enviar</button>
         </form>
        </div>
        <div class="col-12 col-lg-1">
        </div>
      </article>
    </section>

    <footer class="container-fluid bg-primary imagen_footer" >
      <div class="row p-5 mt-5">
          <div class="col-12 col-lg-4">
            <div class="d-flex justify-content-center">
                <img src="https://www.orbisdata.pe/wp-content/uploads/2021/10/Logo_Orbis-Data_Peru_Blanco.svg" alt="logo_footer" class="imagen_logo_footer mt-5">
            </div>
            <div class="row">
              <div class="col-3"></div>
              <div class="col-9">
                <h5 class="text-white mt-3 mx-5">Consultoria de procesos y sistemas</h5>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-2 text-white" >
            <div class="d-flex flex-column mt-5">
              <div>
                <h4>Menu</h4>
              </div>
              <div class="mt-3 bg-link-footer">
                <a href="../index.html"><h5>Inicio</h5></a>
                <a href="./desarrollo.html"><h5>Desarrollo de Software</h5></a>
                <a href="./rpa.html"><h5>RPA</h5></a>
                <a href="./empleo.html"><h5>Empleos</h5></a>
                <a href="./contacto.html"><h5>Contactos</h5></a>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-3 text-white mt-5" >
            <div class="d-flex flex-column">
              <div>
                <h4>Legal</h4>
              </div>
              <div class="mt-3 bg-link-footer">
                <a href="https://documentos.orbisdata.pe/Politica-de-Seguridad-y-Salud-Ocupacional_Orbis-Data.pdf" target="_blank">
                <h5>Modelo de Prevención del Delito</h5>  
                </a>
                <a href="https://documentos.orbisdata.pe/Politica-de-Seguridad-y-Salud-Ocupacional_Orbis-Data.pdf" target="_blank">
                <h5>Codigo de Conducta</h5>  
                </a>
                <a href="https://documentos.orbisdata.pe/Politica-de-Seguridad-y-Salud-Ocupacional_Orbis-Data.pdf" target="_blank">
                <h5>Política de Seguridad Ocupacional</h5>  
                </a>
                <a href="https://documentos.orbisdata.pe/Politica-de-Seguridad-y-Salud-Ocupacional_Orbis-Data.pdf" target="_blank">
                <h5>Política de Alcohol y Drogas</h5>  
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-3 text-white mt-5" >
            <form class="d-flex" role="search">
              <input class="form-control me-2 boton_buscar" type="search" placeholder="Search" aria-label="Search">
              <div class="boton1-item-search">
                <h3><a href="#">Buscar</a></h3>
              </div>
            </form>
          </div>   
      </div>
      <div class="row p-3 cuadro-final-footer">
        <div class="col-12"></div>
          <div class="d-flex text-white justify-content-end">
            <h5>Copyright © 2023 Orbis Data Perú | Buscando algo diferente</h5>
          </div>
      </div>
    </footer>

    
</body>
</html>