<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Orbis Data Perú | RPA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Nos especializamos en soluciones tecnológicas personalizadas para empresas como la tuya. Contáctanos y descubre cómo podemos trabajar juntos para alcanzar tus objetivos">
    <meta name="keywords" content="Desarrollo, RPA, Transformacion Digital, WEB, Backend, FrontEnd, Consultoria, Tecnologia">
    <meta http-equiv="Permissions-Policy" content="interest-cohort=()">
    <title>RPA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../sass/main.css">
    <link rel="icon" type="image/vnd.microsoft.icon" href="../assets/img/favicon.ico"/>
</head>
<body>

  <nav class="navbar navbar-expand-lg bg-white">
    <div class="container-fluid">
      <a class="navbar-brand mx-5" href="../index.html">
        <img id="top" src="../assets/img/logo.png" alt="logo sitio">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse mx-5" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Servicios
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="./rpa.html">RPA</a></li>
              <li><a class="dropdown-item" href="./desarrollo.html">Servicios de Desarrollo</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./empleo.html">Empleos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./contacto.html">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
</nav>

    <main class="container-fluid">
      <div class="row mt-5">
        <div class="col-12 col-lg-4"></div>
        <div class="col-12 col-lg-4">
            <h4 class="fs-1 text-center">Robotic Process Automation</h4>
            <h4 class="fs-1 text-center">RPA</h4>
        </div>
        <div class="col-12 col-lg-4"></div>
      </div>
    </main>

    <section class="container-fluid mt-5">
      <article class="row d-flex justify-content-center">
        <div class="col-12 col-lg-4 bg-cuadro1">
          <h2 class="bg-texto1-rpa mt-5">¿Qué es RPA?</h2>
          <h5 class="mt-5 bg-texto1-rpa">Robotic Process Automation es una tecnología para automatizar tareas repetitivas asociadas a la recolección y procesamiento de datos. A través de bots de software, RPA sigue reglas predefinidas para realizar procesos de negocio.</h5>
          <h5 class="mt-5 bg-texto1-rpa">Sin necesidad de intervenir los aplicativos utilizados por la empresa, se puede implementar un robot que interactúe con fuentes de datos y objetivos de salida, en la misma forma en que lo haría una persona.</h5>
          </div>
        <div class="col-12 col-lg-5">
          <img src="../assets/img/rpas.jpg" alt="" class="bg-rpa-fondo">
        </div>
      </article> 
    </section>

    <section class="container">
      <article class="row mt-5">
          <div class="col-12 col-lg-9">
            <div class="row">
              <h2 class="bg-texto1-rpa mt-5">Beneficios</h2>
              <h5 class="mt-5 bg-texto1-rpa">¿Por qué automatizar?</h5>
              <div class="row mt-5 d-flex justify-content-center">
                <div class="col-lg-6 col-12">
                  <h3>Eficiencia Operacional</h3>
                  <ul>
                      <li>Mejora la productividad del negocio</li>
                      <li>Disminuye tiempos de ejecución</li>
                      <li>Reduce costos y mejora la eficiencia</li>
                  </ul>
                </div>
                <div class="col-lg-6 col-12">
                  <h3>Seguridad de la Información</h3>
                  <ul>
                      <li>Mejora la productividad del negocio</li>
                      <li>Disminuye tiempos de ejecución</li>
                      <li>Reduce costos y mejora la eficiencia</li>
                  </ul>
                </div>
                <div class="col-lg-6 col-12 mt-4">
                  <h3>Personas</h3>
                  <ul>
                      <li>Destina los RRHH a tareas de mayor valor agregado</li>
                      <li>Mejora el clima laboral</li>
                      <li>Reduce costos y mejora la eficiencia</li>
                  </ul>
                </div>
                <div class="col-lg-6 col-12 mt-4">
                  <h3>Negocio</h3>
                  <ul>
                      <li>Acelera la innovación</li>
                      <li>Escala la automatización</li>
                      <li>Apertura en nuevos mercados</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </article>
    </section>

    <section class="container-fluid mt-5">
      <article class="row d-flex flex-row-reverse p-0 justify-content-center">
        <div class="col-12 col-lg-4 bg-cuadro1">
          <h2 class="bg-texto1-rpa mt-5">Visión RPA</h2>
          <h5 class="mt-5 bg-texto1-rpa">Nuestro enfoque</h5>
          <h5 class="mt-5 bg-texto1-rpa">Integramos nuestra experiencia en procesos de negocio y conocimiento en automatización, para guiar a nuestros clientes en sus esfuerzos de transformación. Esto, unido a las herramientas líderes del mercado, nos permite ofrecer soluciones efectivas para mejorar la agilidad y acelerar la innovación de las empresas.</h5>
        </div>
        <div class="col-12 col-lg-5">
          <img src="../assets/img/rpa3.jpg" alt="" class="bg-cuadro-rpa3">
        </div>
      </article>
    </section>

    <section class="container-fluid mt-5">
        <article class="row d-flex justify-content-center">
          <div class="col-12 col-lg-4 bg-cuadro-rpa4 d-flex flex-column justify-content-center">
            <h2 class="text-white mt-5 text-center">!Conversemos!</h2>
            <h5 class="mt-5 text-white text-center">Comprende los beneficios de RPA y resuelve tus inquietudes con uno de nuestros expertos</h5>
            <div class="boton1-item mt-5 text-center mb-5">
              <h3><a href="./contacto.html">Contáctanos</a></h3>
            </div>
          </div>
          <div class="col-12 col-lg-5">
            <img src="../assets/img/rpa4.jpg" alt="" class="bg-cuadro-rpa3">
          </div>
        </article>
    </section>

    <footer class="container-fluid bg-primary imagen_footer" >
      <div class="row p-5 mt-5">
          <div class="col-12 col-lg-4">
            <div class="d-flex justify-content-center">
                <img src="https://www.orbisdata.pe/wp-content/uploads/2021/10/Logo_Orbis-Data_Peru_Blanco.svg" alt="logo_footer" class="imagen_logo_footer mt-5">
            </div>
            <div class="row">
              <div class="col-3"></div>
              <div class="col-9">
                <h5 class="text-white mt-3 mx-5">Consultoria de procesos y sistemas</h5>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-2 text-white" >
            <div class="d-flex flex-column mt-5">
              <div>
                <h4>Menu</h4>
              </div>
              <div class="mt-3 bg-link-footer">
                <a href="../index.html"><h5>Inicio</h5></a>
                <a href="./desarrollo.html"><h5>Desarrollo de Software</h5></a>
                <a href="./rpa.html"><h5>RPA</h5></a>
                <a href="./empleo.html"><h5>Empleos</h5></a>
                <a href="./contacto.html"><h5>Contacto</h5></a>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-3 text-white mt-5" >
            <div class="d-flex flex-column">
              <div>
                <h4>Legal</h4>
              </div>
              <div class="mt-3 bg-link-footer">
                <a href="https://documentos.orbisdata.pe/Politica-de-Seguridad-y-Salud-Ocupacional_Orbis-Data.pdf" target="_blank">
                <h5>Modelo de Prevención del Delito</h5>  
                </a>
                <a href="https://documentos.orbisdata.pe/Politica-de-Seguridad-y-Salud-Ocupacional_Orbis-Data.pdf" target="_blank">
                <h5>Codigo de Conducta</h5>  
                </a>
                <a href="https://documentos.orbisdata.pe/Politica-de-Seguridad-y-Salud-Ocupacional_Orbis-Data.pdf" target="_blank">
                <h5>Política de Seguridad Ocupacional</h5>  
                </a>
                <a href="https://documentos.orbisdata.pe/Politica-de-Seguridad-y-Salud-Ocupacional_Orbis-Data.pdf" target="_blank">
                <h5>Política de Alcohol y Drogas</h5>  
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-3 text-white mt-5" >
            <form class="d-flex" role="search">
              <input class="form-control me-2 boton_buscar" type="search" placeholder="Search" aria-label="Search">
              <div class="boton1-item-search">
                <h3><a href="#">Buscar</a></h3>
              </div>
            </form>
          </div>  
      </div>
      <div class="row p-3 cuadro-final-footer">
        <div class="col-12"></div>
          <div class="d-flex text-white justify-content-end">
            <h5>Copyright © 2023 Orbis Data Perú | Buscando algo diferente</h5>
          </div>
      </div>
    </footer>

    
</body>
</html>