/* variables */

$colorLinkSeleccionado: blue;
$colorLetrasGrisClaro: rgb(143,140,140);
$medidaMobileEspecial: 992px;
$colorCuadroGrisClaro: #eaebec;
$colorLetraCuadroGrisClaro: #a09f9f;
$colorCelesteOrbis: rgb(0, 102, 255);
$tipoLetraBotones: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
